<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/siddharthkumarrai/"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://www.facebook.com/profile.php?id=61556235782338/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/siddharthkumarrai777/"><i class="fa-brands fa-square-instagram"></i></a>
           <a href="https://www.linkedin.com/in/siddharth-kumar-rai/"><i class="fa-brands fa-linkedin"></i></a> 
        </div>
        <div class="f-info-brand">&copy; wanderlust private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/term">Terms</a>
        </div>
        <div class="f-info-links">
         <a class="f-info-links"><i class="fa-solid fa-square-phone"></i> &nbsp;&nbsp;  +91 &nbsp; 9910032074 </a>  
        </div>
    </div>
</footer>