<% layout("/layouts/boilerplate") %>
    <div class="row  mt-3" >
        <div class="col-8  offset-2" ><br>
            <h1>Add new listing</h1>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" id="tit" placeholder="add a catchy title" class="form-control" required>
                    <div class="valid-feedback">
                       Title Looks good!
                      </div>
                  
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Description</label>
                    <textarea name="listing[description]" id="des" class="form-control" placeholder="wouberfull place" required></textarea>
                    <div  class="invalid-feedback">
                        Please provide a description.
                      </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input type="file" name="listing[image]"  class="form-control" required>
                </div>
                <div class="row">
                    <div class="col-md-4" class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input  min="1"  name="listing[price]"   placeholder="1200" class="form-control" required >
                        <div  class="invalid-feedback">
                            Please provide a valid price.
                          </div>
                    </div>
                    <div class="col-md-8" class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" id="loc" placeholder="Jaipur Rajisthan" class="form-control" required>
                        <div  class="invalid-feedback">
                            Please provide a valid location.
                          </div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" id="cou" placeholder="India" class="form-control" required>
                    <div  class="invalid-feedback">
                        Please provide a valid country.
                      </div>
                </div>
                
                <button class="btn btn-dark add-btn mb-3" >add</button><br>
            </form>   

        </div>
    </div>

